.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.footerLeft {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footerRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
