.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
  width: 100%;
  height: 100%;
}

.statusList {
  padding: 0;
  list-style-type: none;
}

.statusName {
  width: 100px;
  display: inline-block;
  font-weight: 600;
}
